<section id="content-home">

<div id="carouselExampleAutoplaying" class="carousel slide m-20" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/194973l-1000x640-b-4906f49f.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/597383l-1000x640-b-917ca853.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/fancy-cushion.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/images/ferrari-296-gt3-sketch-1.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  <a href="/products" ><button id="product-btn">See our products</button></a>
  <a href="/auth/signup" ><button id="product-btn-2">Sign up</button></a>

</section>
