body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #1ca6dd;
}

h1 {
  color: 15px;
}

#navbar{
  background-color: #1ca6dd;
  height: 80px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

#navbar a{
  text-decoration: none;
  color: white;
}

#link-btn{
  background-color: #1ca6dd;
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
}

#btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#sign-form, #login-form, #create-form, #update-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signup, #login, #create, #update{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border: 3px solid #1ca6dd;
  box-shadow: 0 0 5px 5px #1ca6dd; 
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

#signup input, #login input, #create input, #update input{
  width: 100%;
  margin-top: 10px;
}

#signup label, #login label, #create label, #update label{
  width: 100%;
}

#signup button, #login button, #create button, #update button{
  width: 100%;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #1ca6dd;
}

#link-cont{
  text-decoration: none;
  color: black;
  text-align: left;
}
#link-cont div{
  border: 2px solid #1ca6dd;
  border-bottom: none;
}
