<div id="create-form">
<h2>Create product</h2>
<form id="create" action="/create" method="post" enctype="multipart/form-data">
    <label for="title">Title:<input type="text" id="title" name="title" placeholder="Enter your title:"></label>
    <label for="price">Price:<input type="number" name="price" id="price"></label>
    <label for="picture">Choose picture:<input type="file" id="picture" name="picture" /></label>
    <label for="description">Description:<input type="textarea" id="description" name="description"></label>
    <button type="submit">Create product</button>
</form>
</div>