<div style="border-radius: 25px; padding: 20px;">
{{#each products}}
<a href="/products/{{this._id}}" id="link-cont" sty>
<div>
    <h1>{{this.title}}</h1>
    <h2>Price:{{this.price}}$</h2>
    <img src="{{this.picture}}" alt="default" width="400" height="400">
</div>
</a>
{{/each}} 
</div>
